{% extends 'AlbatrossUserBundle:Default:layout_v2.html.twig' %}

{% block title 'File List' %}

{% block breadcrumb %}
	<li class="active">File List</li>
{% endblock %}

{% block pageHeading 'File List' %}

{% block body %}

<!--BODY STARTS-->
<link rel="stylesheet" href="css/file-list.css">
<div class="row-fluid">
 
  <div class="span12">
	<div class="content-widgets blue-white">
	  <div class="widget-container" style="min-height:53px;">
	  	
		<div class="inner-widget-iof-first" style="width:3%; margin-top:3px;">
			<i class="icon-cloud-download" style="font-size:26px;"></i>
		</div>
		
		<form name="frmFileListSearch" id="frmFileListSearch" action="" method="post" enctype="multipart/form-data" onsubmit="return chkFileUploadForm();">
			<input type="hidden" name="hidAct" id="hidAct" value="uploadFileList" />
			<div class="inner-widget-iof">
				<select data-placeholder="Section" name="section" id="section" class="chzn-select span1 iBlock nBorder" style="width:99%; float:left;" tabindex="1" onchange="popSubSection(this.value);">
					<option value="0" selected="selected">Select Section</option>
					{{list_section|raw}}
				</select>
			</div>
			<div class="inner-widget-iof" id="subSectionListOuter">
				<select name="sub_section" id="sub_section" data-placeholder="Sub Section" class="chzn-select span1 iBlock nBorder" tabindex="2" style="width:99%; float:left;">
					<option value="">Select sub-section</option>
				</select>
			</div>
			<div class="inner-widget-iof" style="width:25%">
				File Name: &nbsp; <input type="text" placeholder="File Name" name="file_name" id="file_name" style="width:72%; float:right;" tabindex="5" />
			</div>
			<div class="inner-widget-iof" style="width:25%">
				File Upload: &nbsp; <input type="file" placeholder="File Upload" name="file_upload" id="file_upload" style="width:74%; float:right;" tabindex="6" />
			</div>
			<div class="inner-widget-iof-last iof-filter-btns">
				<button class="btn btn-info" type="submit" name="uploadFile" id="uploadFile" value="Upload" style="margin-right:8px;"><i class="icon-cloud-upload"></i>Upload</button>
				<button class="btn btn-danger" type="reset" onclick="document.getElementById('frmFileListSearch').reset();">Cancel</button>
			</div>
		</form>
			
	  </div>
	</div>
  </div>
 
</div>

<div class="row-fluid">
  <table id="fileTable" class="responsive table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Last Uploads</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>
<!--BODY ENDS-->

<style>
html, *{outline:none;}
.wave-content-list{margin:5px 0px 5px 0px;}
.wave-content-list label.pull-left{width:150px;}
.submit-dropdown i{color:#fff;padding:3px 2px 3px 1px;display:inline-block;margin-right:10px;}

#fileTable_length,.dataTables_length{float:left;margin-top:19px;margin-right:15px;}
#fileTable_info,.dataTables_info{float: left;font-weight:bold;}
</style>

<script type="text/javascript">
function fnFormatDetails(table_id, html) {
    var sOut = "<table id=\"fileTable_" + table_id + "\">";
    sOut += html;
    sOut += "</table>";
    return sOut;
}

var iTableCounter = 1;
var iTableCounter1 = 1;
var oTable;
var oInnerTable;
var TableHtml;
	
$(document).ready(function() {
                
	/*====Select Box====*/
	$(".chzn-select").chosen();
	$(".chzn-select-deselect").chosen({
		allow_single_deselect: true
	});
    
	/*====Data Table====*/
	oTable = $('#fileTable').dataTable({ 
							  "iDisplayLength": 10,	
							  "oLanguage" : { "sEmptyTable": "" , "sZeroRecords": "" },
							  "sDom": "<'row-fluid'<'span12'>r>t<'row-fluid'<'span6'li><'span6'p>>",
							  "aaSorting": [[1,'asc']],
							  "bProcessing": true,
							  "bServerSide": true,
							  "sAjaxSource": "{{SITE_URL}}ajax?ajaxaction=getFileData"
							});
	
	$('#fileTable tbody td i.file-list-plus-minus').live('click', function () {
		var nTr = $(this).parents('tr')[0];
		if (oTable.fnIsOpen(nTr)) {
			
			oTable.fnClose(nTr);
		}
		else 
		{
			var fileId = $(this).attr('id');
			var result = $.ajax({
					type: "POST",
					url: "{{SITE_URL}}ajax",
					data: 'ajaxaction=getSubFileData&id='+fileId,
					async: false
				}).responseText;
				
			TableHtml = result;
			
			oTable.fnOpen(nTr, fnFormatDetails(iTableCounter, TableHtml), 'details'+fileId);
			
			oInnerTable = $("#subSectionFileTable"+fileId).dataTable({
                    "iDisplayLength": 10,	
					"oLanguage" : { "sEmptyTable": "" , "sZeroRecords": "" },
					"sDom": "<'row-fluid'<'span12'>r>t<'row-fluid'<'span6'li><'span6'p>>",
					"aaSorting": [[1,'asc']],
					"bProcessing": false,
					"bServerSide": false
                });
		}
		
		$(this).toggleClass("icon-minus-sign");
	}); 
	
	$('.subSectionTable tbody td i.file-sub-list-plus-minus').live('click', function () {
		
		var fileId = $(this).attr('id');
		
		if($(this).hasClass("icon-minus-sign"))
		{
			$('.trSubSecFileData'+fileId).remove();
		}
		else
		{
			var result = $.ajax({
					type: "POST",
					url: "{{SITE_URL}}ajax",
					data: 'ajaxaction=getSubSectionFileData&id='+fileId,
					async: false
				}).responseText;
				
			TableHtml = result;
			
			$('<tr class="trSubSecFileData'+fileId+'"><td colspan="4" style="padding:4px;">'+TableHtml+'</td></tr>').insertAfter($(this).closest('tr'));
			
			 oInnerTable = $("#subSectionFileTable"+fileId).dataTable({
                    "iDisplayLength": 10,	
					"oLanguage" : { "sEmptyTable": "" , "sZeroRecords": "" },
					"sDom": "<'row-fluid'<'span12'>r>t<'row-fluid'<'span6'li><'span6'p>>",
					"aaSorting": [[1,'asc']],
					"bProcessing": false,
					"bServerSide": false
                });
		}
		
		$(this).toggleClass("icon-minus-sign");
	});
	
});

function popSubSection(val)
{
	var result = $.ajax({
					type: "POST",
					url: "{{SITE_URL}}ajax",
					data: 'ajaxaction=getSubSectionList&id='+val,
					async: false
				}).responseText;
				
	document.getElementById('subSectionListOuter').innerHTML = result;
	
	/*====Select Box====*/
	$(".chzn-select").chosen();
	$(".chzn-select-deselect").chosen({
		allow_single_deselect: true
	});
}

function chkFileUploadForm()
{
	if(document.getElementById('section').value=='' || document.getElementById('section').value==0)
	{
		alert('Please select section.');
		return false;
	}
	if(document.getElementById('file_name').value=='')
	{
		alert('Please enter file name.');
		return false;
	}
	if(document.getElementById('file_upload').value=='')
	{
		alert('Please select file.');
		return false;
	}
	return true;
}

function deleteAttachment(id,fileId,type)
{
	var con = confirm('Are you sure you want to delete this file?');
	if(con)
	{
		var result = $.ajax({
					type: "POST",
					url: "{{SITE_URL}}ajax",
					data: 'ajaxaction=deleteAttachment&id='+id,
					async: false
				}).responseText;
			
		if(result=='success')
		{
			if(type=='main')
			{
				var result = $.ajax({
						type: "POST",
						url: "{{SITE_URL}}ajax",
						data: 'ajaxaction=getSubFileData&id='+fileId,
						async: false
					}).responseText;
					
				TableHtml = result;
				
				$(".details"+fileId).html(TableHtml);
				
				oInnerTable = $("#subSectionFileTable"+fileId).dataTable({
						"iDisplayLength": 10,	
						"oLanguage" : { "sEmptyTable": "" , "sZeroRecords": "" },
						"sDom": "<'row-fluid'<'span12'>r>t<'row-fluid'<'span6'li><'span6'p>>",
						"aaSorting": [[1,'asc']],
						"bProcessing": false,
						"bServerSide": false
					});
			}
			else
			{
				var result = $.ajax({
						type: "POST",
						url: "{{SITE_URL}}ajax",
						data: 'ajaxaction=getSubSectionFileData&id='+fileId,
						async: false
					}).responseText;
					
				TableHtml = result;
				
				$('.trSubSecFileData'+fileId).html('<td colspan="4" style="padding:4px;">'+TableHtml+'</td>');
				
				 oInnerTable = $("#subSectionFileTable"+fileId).dataTable({
						"iDisplayLength": 10,	
						"oLanguage" : { "sEmptyTable": "" , "sZeroRecords": "" },
						"sDom": "<'row-fluid'<'span12'>r>t<'row-fluid'<'span6'li><'span6'p>>",
						"aaSorting": [[1,'asc']],
						"bProcessing": false,
						"bServerSide": false
					});
			}
		}
	}	
	else
		return false;
}
</script>

{% endblock %}