{% extends 'AlbatrossUserBundle:Default:layout_v2.html.twig' %}
{% block title %}
Croup New
{% endblock %}
{% block pageHeading 'Add Group' %}
{% block breadcrumb %}
    <li><a href="{{ path('admin') }}">Administration</a></li>
    <li class="active">Group Creation</li>
{% endblock %}
{% block body -%}
    {{ render(controller('AlbatrossUserBundle:Admin:menu', {'active': 'group' })) }}
    <form action="{{ path('clientgroup_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('clientgroup') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
