{% extends 'AlbatrossUserBundle:Default:layout.html.twig' %}
{% block title %}
Wave List
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/custom_style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content -%}
    <h1>Wave list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customwave_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('customwave_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('customwave_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ knp_pagination_render(entities) }}
        <ul>
        <li>
            <a href="{{ path('customwave_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
