{% extends 'AlbatrossUserBundle:Default:layout_v2.html.twig' %}
{% block title %}
Albatross Daily Check
{% endblock %}
{% block stylesheet %}
<link href="{{ asset('/css/dailycheck.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('/css/calendar.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(function() {
        $("#datepicker").datepicker();

        $('#datepicker').change(function() {
            var date = $('#datepicker').val();
            var bu = $('#selectedBu').val();
            location.href = "{{ path('daily') }}" + "/" + date + "/" + bu;
        });

        $('#selectedBu').change(function() {
            var date = "{{ showdate }}";
            var bu = $('#selectedBu').val();
            location.href = "{{ path('daily') }}" + "/" + date + "/" + bu;
        });

        $('#selectedBu').children('option[value={{bu}}]').attr('selected', 'true'); //set bu select default value

        background();

        $("#showfiles").mouseover(function() {
            if ($("#filelistbox").is(":hidden")) {
                $("#showfiles").css('cursor', 'wait');
                $.ajax({
                    type: "POST",
                    url: "{{ path('showfiles') }}/daily/" + "{{showdate}}",
                    success: function(result) {
                        var width = $('#showfiles').width() + 40;
                        var height = -$('#showfiles').height() - 16;
                        $("#showfiles").css('cursor', 'pointer');
                        $("#filelistbox").css('margin-left', width);
                        $("#filelistbox").css('margin-top', height);
                        $("#filelistbox").css('display', 'block');
                        $("#filelistbox").show();
                        $("#filelistbox").html(result);
                        $('.filename').hover(function(){
                            $(this).children('i').attr('class', 'icon-download-alt');
                        }, function(){
                            $(this).children('i').attr('class', 'icon-file');
                        });
                    }
                });
            }
        });
        $("#showfiles").parent().mouseleave(function() {
            $("#filelistbox").hide();
        });
        
        $('.weekend').each(function(){
            if($(this).html() == '0'){
                $(this).html('-');
            }
        });
        
        {% if last_date_month != '' %}
            var eqnum = {{last_date_month}} + 2;
            if($("table tr:eq(4) td:eq("+eqnum+")").html() != '-' && $("table tr:eq(4) td:eq("+eqnum+")").html() != '0'){
                $("table tr:eq(4) td:eq("+eqnum+")").css('color', 'red');
            }
        {% endif %}
    });

    function background() {
        $(".daily_table tr").each(function() {
            var cur = {{ cur_date }} + 1;
            var gab;
            $(this).find("td:eq(" + cur + ")").css('font-size', '12px');
            $(this).find("td:eq(" + cur + ")").css('font-weight', 'bold');
            $(this).find("td:eq(" + cur + ")").css('font-style', 'italic');
            $(this).find("td:eq(" + cur + ")").css('background', 'rgb(223, 240, 216)');
            //gab calculate
            var todayNum = $(this).find("td:eq(" + cur + ")").html();
            if (cur != 2) {
                var yesterdayNum = $(this).find("td:eq({{ cur_date }})").html();
            } else {
                var yesterdayNum = $(this).children("td[class=monday_gab]").html();
            }
            if ($(this).find("td:eq(1)").html() === 'Report Done') {
                {% if report_done['Report Done'] is defined %}
                    $(this).children("td[class=gab]").html("{{report_done['Report Done']}}");
                {% else %}
                    $(this).children("td[class=gab]").html("0");
                {% endif %}
            }else if ($(this).find("td:eq(1)").html() === 'Survey Validated Number') {
                {% if report_done['Survey Validated Number'] is defined %}
                    $(this).children("td[class=gab]").html("{{report_done['Survey Validated Number']}}");
                {% else %}
                    $(this).children("td[class=gab]").html("0");
                {% endif %}
            }else if ($(this).find("td:eq(1)").html() === 'QC Done') {
                {% if report_done['QC Done'] is defined %}
                    $(this).children("td[class=gab]").html("{{report_done['QC Done']}}");
                {% else %}
                    $(this).children("td[class=gab]").html("0");
                {% endif %}
            }else if ($(this).find("td:eq(1)").html() === 'Data Integrity Check Done') {
                {% if report_done['Data Integrity Check Done'] is defined %}
                    $(this).children("td[class=gab]").html("{{report_done['Data Integrity Check Done']}}");
                {% else %}
                    $(this).children("td[class=gab]").html("0");
                {% endif %}
            }else if ($(this).find("td:eq(1)").html() === 'LS Translation Done') {
                {% if report_done['LS Translation Done'] is defined %}
                    $(this).children("td[class=gab]").html("{{report_done['LS Translation Done']}}");
                {% else %}
                    $(this).children("td[class=gab]").html("0");
                {% endif %}
            }else if ($(this).find("td:eq(1)").html() === 'Invalid Survey Number') {
                {% if report_done['Invalid Survey Number'] is defined %}
                    $(this).children("td[class=gab]").html("{{report_done['Invalid Survey Number']}}");
                {% else %}
                    $(this).children("td[class=gab]").html("0");
                {% endif %}
            }else{
                if (todayNum !== null && yesterdayNum !== null) {
                    var gabContent = '';
                    if (parseInt(todayNum) === 0) gab = '-';
                    else gab = parseInt(todayNum) - parseInt(yesterdayNum);
                    
                    if (gab !== '-' && gab > 0) gabContent = '<i class="icon-arrow-up greenArrow" style="margin-right:30px;"></i>' + gab;
                    else if (gab !== '-' && gab < 0) gabContent = '<i class="icon-arrow-down redArrow" style="margin-right:30px;"></i>' + gab;
                    
                    $(this).children("td[class=gab]").html(gabContent);
                }
            }
        });
    }

    //For calculate forecast percent
    function calcForecast() {

        var addnum = 0;
        background();
        $("table tr").each(function() {
            var cur = {{ cur_date }} + 1;
            var submit = $(this).find("td:eq(1)").html();
            if (submit === 'Submitted surveys') {
                //For calculate percent
                var num = $(this).find("td:eq(" + cur + ")").html();

                addnum = num;
            }
        });

        if (addnum === 0) {
            $("#forecastPercent").text("0%");
        } else {
            var total = $("#forecastform").text();
            var percent = (addnum / parseInt(total)) * 100;
            var percent = percent.toFixed(0);
            $("#forecastPercent").text(percent + "%");
        }
    }
    {% if (is_granted('ROLE_HD_MANAGER') or is_granted('ROLE_ADMIN') )and bu != null %}
    function showeditform(data) {
        if ($(".editable").length > 0) {
            cancel($(".editable").children().children().children('input[name=close]'));
        }
        var replace = '<td class="editable" id=' + data + ' style="background:#f00"><div class="editform"><form method="POST" action=""><input type="text" id="value' + data + '" name="num_value" style="width:103px;"/><br/><input type="button" value="Edit" onclick="changevalue(this)" ><input type="button" name="close" value="cancel" onclick="cancel(this)"/></form></div></td>';
        $("#tmp").val($("#" + data).html());
        $("#" + data).replaceWith(replace);
        $("#" + data).children().children().children('input[name=num_value]').focus();
    }
    {% else %}
    function showeditform(data) {
        alert('Need to choose the corresponding BU before editing');
    }
    {% endif %}

    function changevalue(edit) {
        var id = $(edit).parent().parent().parent().attr('id');
        var status_week = id.split("_");
        var date = "{{ showdate }}";
        var number = $("#value" + id).val();
        var bu = $('#selectedBu').val();
        var data = status_week[0] + ':' + status_week[1] + ':' + date + ':' + number + ':' + bu;
        $.ajax({
            type: "POST",
            url: "{{ path('setone') }}",
            data: data,
            success: function(result) {
                var replace = '<td class="editable center" id=' + id + ' onclick="showeditform(this.id)">' + result + '</td>';
                $("#" + id).replaceWith(replace);
                background();
            }
        });
    }

    function cancel(data) {
        var id = $(data).parent().parent().parent().attr('id');
        var temp = $("#tmp").val();
        var replace = '<td class="editable center" id=' + id + ' onclick="showeditform(this.id)">' + temp + '</td>';
        $("#" + id).replaceWith(replace);
        background();
    }

    function cancel2() {
        var temp = $("#tmp2").val();
        var replace = '<span id="forecastform" onclick="replaceForecast(this)" title="click to edit">' + temp + '</span>';
        $("#forecastform").replaceWith(replace);
    }

    function replaceForecast(forcast_obj) {
        var replace = '<span id="forecastform"><input type="text" id="forecast" style="width:50px" /><input type="button" value="Edit" onclick="changeForecast()"/><input type="button" value="cancel" onclick="cancel2()"/></span>';
        $("#tmp2").val($(forcast_obj).text());
        $(forcast_obj).replaceWith(replace);
        $("#forecast").focus();
    }

    function changeForecast() {
        var forcast = $("#forecast").val();
        var date = "{{ showdate }}";
        var bu = $('#selectedBu').val();
        var data = date + ':' + bu + ':' + forcast;
        $.ajax({
            type: "POST",
            url: "{{ path('setforecast') }}",
            data: data,
            success: function(result) {
                var replace = '<span id="forecastform" onclick="replaceForecast(this)" title="click to edit">' + result + '</span>';
                $("#forecastform").replaceWith(replace);
                calcForecast();
            }
        });
    }

    function deletefile(data) {
        $.ajax({
            data: data,
            type: "POST",
            url: "{{ path('deletefile') }}/daily/" + "{{showdate}}",
            success: function(data) {
                if (data == 1) {
                    $("#filelistbox").hide();
                    $("#filelistbox").html('');
                    $("#showfiles").click();
                } else {
                    alert("error");
                }
            }
        });
    }
    
    function downloadFile(filename) {
        $('#download-daily-file').attr('action', '{{ path('downloadDailyFile') }}/' + "{{showdate}}/" + filename);
        $('#download-daily-file').submit();
    }
    
    function refreshForecast() {
        $('#reload').show();
        $.ajax({
            type: "POST",
            url: "{{ path('forecast', {'isrefresh':'1'}) }}",
            success: function(data) {
                if(data == 1){
                    location.reload();
                    window.setTimeout(function() {
                        $('#reload').hide();
                    }, 3000);
                }
            }
        });
    }
    </script>
{% endblock %}
{% block body -%}
    <div class="row-fluid">
        {#  filter part      #}
        <div class="span12">
            <div class="content-widgets">
                <div class="widget-container" style="min-height:50px;">
                    {#         bu select           #}
                    <div class="span3">
                        <select id="selectedBu" data-placeholder="All Business Unit" class="chzn-select span6" tabindex="2" style="width:99%; height:34px; float:left;">
                            <option value="0">All Business Unit</option>
                            {% for k,b in all_bu %}<!-- select the bu, k is id and b is bu code -->
                            <option value ="{{ k }}">{{ b }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="span3 input-append" id="datetimepicker4">
                        <input name="calender" id="datepicker" placeholder="Calender" data-format="yyyy-MM-dd" type="text" style="width:74%; float:left;"/>
                        <span class="add-on" onclick="$('#datepicker').focus();"><i class="icon-calendar"></i>
                        </span>
                    </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="span4 input-append">
                        {{ form_widget(fileForm.text, {attr: {'onclick' : "$('#albatross_dailybundle_fileuploadtype_file').click()", 'placeholder' : "File name"}}) }}
                        <div class="btn-group">
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                File Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-target="#" onclick="$('#fileupload').submit();" >Submit File</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a data-target="#" onclick="$('#read-daily-file-form').submit();">Update Data</a>
                                </li>
                                <li>
                                    <a id="showfiles" data-target="#" title="Today's updated file list" >Show Files&nbsp;&nbsp;&nbsp;
                                        <i class="icon-play"></i>
                                    </a>
                                    <ul id="filelistbox"></ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span2">
                        <form id="read-daily-file-form" action="{{ path('readDailyExcel',{'date':showdate}) }}" method="post">
                        </form>
                        <form action="{{ path('dailyfileupload', {'date':showdate}) }}" id="fileupload" method="post" enctype="multipart/form-data">
                            {{ form_widget(fileForm.file, {attr: {'style': 'display:none', 'size': '28', 'onchange' : "document.getElementById('albatross_dailybundle_fileuploadtype_text').value = this.value"}}) }}
                            <div class="error_msg">{{ form_errors(fileForm) }}</div>
                        </form>
                        <form action="" id="download-daily-file">
                        </form>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="content-widgets">
                <div class="widget-container" style="min-height:50px;">
                    {#          icon part          #}
                    <div class="inner-widget-iof-first">
                        <i class="icon-filter"></i>
                    </div>
                    {#          previous week          #}
                    <div class="inner-widget-iof">
                        <a type="button" class="btn pre-next-btn" href="{{path('daily', {'date':preweek, 'bu': bu})}}">&lt;&lt; &nbsp; PREVIOUS WEEK</a>
                    </div>
                    {#          date&bu info          #}
                    <div class="inner-widget-iof">
                        <h4 style="margin-top:5px;">{{ showdate }} &nbsp;&nbsp;&nbsp;
                            {% if bu is null %}ALL{% else %}{{ all_bu[bu]}}{% endif %}
                        </h4>
                    </div>
                    {#          next week          #}
                    <div class="inner-widget-iof">
                        <a type="button" class="btn pre-next-btn" href="{{path('daily', {'date':nxtweek, 'bu': bu})}}">NEXT WEEK &nbsp; &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" style="margin:0;">
            <table class="stat-table responsive table table-stats table-striped table-sortable table-bordered">
                <tr id="first_row">
                    <th colspan="2" width="35%">
                        <br>
                        <b>Forecast in Total</b>
                    </th>
                    <!-- upward size date for click start-->
                {% for k,cur in cur_week_date_array%}
                    <th width="5%"  class="center" align="center">
                        <a href="{{path('daily', {'date':cur['date'], 'bu': bu})}}" class="datelink">
                            <b>
                                {{ cur['week'] }}<br/>
                                {{k}}
                            </b>
                        </a>
                    </th>
                {% endfor %}
                    <!-- upward size date for click end-->
                    <th>
                    </th>
                </tr>
                <tr>
                    <th colspan="2" class="center">
                        <span id="forecastform">{{ forcast }}</span>
                        <a class="btn btn-info btn-blue" onclick="refreshForecast();" href="javascript:;">
                            <i class="icon-refresh"></i>
                            Refresh
                        </a>
                    </th>
            {% for k,i in percent_calc %}
                {% if k == cur_date %}
                    <td id="forecastPercent" class="center" width="5%" align="center">
                    {{i}}
                    </td>
                {% else %}
                    <td class="center" width="5%" align="center">
                    {{i}}
                    </td>
                {% endif %}
            {% endfor %}
                    <th>
                    </th>
                </tr>
            </table>
{#          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////          #}
            <div class="primary-head">
                <br>
                <h3 class="page-header">Situation as for today</h3>
            </div>
{#          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////          #}
            <table class="daily_table stat-table responsive table table-stats table-striped table-sortable table-bordered">
                <tr>
                    <th width="5%">
                        <br>
                        <b>No.</b>
                    </th>
                    <th width="30%">
                        <br>
                        <b>The number of</b>
                    </th>
                {% for k,cur in cur_week_date_array%}
                    <th width="5%"  class="center" align="center">
                        <b>
                            {{ cur['week'] }}<br/>
                            {{k}}
                        </b>
                    </th>
                {% endfor %}
                    <th class="center" align="center">
                        <br>
                        GAP (between today & yesterday)
                    </th>
                </tr>
            {% for sts in status %}
                {% if sts.today == 1 %}
                <tr>
                    <td width="5%">{{ sts.weight }}</td>
                    <td width="30%">{{ sts.status }}</td>
                {% for num in result[sts.status] %}
                    <td class="center" width="5%" align="center">{{ num }}</td>
                {% endfor %}
                    <td class="gab"></td>
                    <td class="monday_gab" style="display:none">{% if gab != null %}{{gab[sts.weight]}}{% else %}{{gab}}{% endif %}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
{#          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////          #}
            <div class="primary-head">
                <br>
                <h3 class="page-header">Today's result</h3>
            </div>
{#          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////          #}
            <table class="daily_table stat-table responsive table table-stats table-striped table-sortable table-bordered" style="margin-bottom:50px;">
                <tr>
                    <th width="5%">
                        <br>
                        <b>No.</b>
                    </th>
                    <th width="30%">
                        <br>
                        <b>The number of</b>
                    </th>
                {% for k,cur in cur_week_date_array%}
                    <th width="5%"  class="center" align="center">
                        <b>
                            {{ cur['week'] }}<br/>
                            {{k}}
                        </b>
                    </th>
                {% endfor %}
                    <th class="center" align="center">
                        <br>
                        Sum of the current week
                    </th>
                </tr>
            {% for sts in status %}
                {% if sts.today == 0 %}
                <tr>
                    <td width="5%">{{ sts.weight }}</td>
                    <td width="30%">{{ sts.status }}</td>
                {% for k,num in result[sts.status] %}
                    <td class="center editable" id="{{sts.id}}_{{k}}" onclick="showeditform(this.id);" width="5%" align="center">{{ num }}</td>
                {% endfor %}
                    <td class="gab"></td>
                    <td class="monday_gab" style="display:none">{% if gab != null %}{{gab[sts.weight]}}{% else %}{{gab}}{% endif %}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>

   {#                 
            {% set i = 1 %}<!-- table row number -->
            {% set v = 0 %}<!-- distinguish editable  -->
            {% for sts in status %}
            {% if sts.today == 0 and v == 0 %}
                <tr>
                    <th>
                    </th>
                    <th>Today's result:
                    </th>
                    <th colspan="7">
                    </th>
                    <th>Sum of the current month
                    </th>
                </tr>
            {% set v = 1 %}
            {% endif %}
                <tr>
                    <td width="5%">{{ i }}</td>
                    <td width="25%">{{ sts.status }}</td>
            {% set j = 0 %}<!-- consider if there is no date in this status  -->
            {% for key,re in result %}
                {% if key == sts.status %}
                    {% if sts.editable == 1 %}
                        {% for k,r in re %}<!-- k to check witch week day is it. 1 monday, 7 sunday  -->
                            {% if k >= 6 %}
                    <td class="editable weekend center" width="5%" align="center" id="{{sts.id}}_{{k}}" onclick="showeditform(this.id);">{{ r }}</td>
                            {% else %}
                    <td class="editable center" width="5%" align="center" id="{{sts.id}}_{{k}}" onclick="showeditform(this.id);">{{ r }}</td>
                            {% endif %}
                        {% endfor %}
                        {% set j = 1 %}
                    {% else %}
                        {% for k,r in re %}
                            {% if k >= 6 %}
                    <td class="survaynum weekend">{{ r }}</td>
                            {% else %}
                    <td class="survaynum">{{ r }}</td>
                            {% endif %}
                        {% endfor %}
                        {% set j = 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if j == 0 %}
                {% if sts.editable == 1 %}
                    {% for empty in 1..7 %}
                        {% if empty >= 6 %}
                    <td class="editable weekend center" width="5%" align="center" id="{{sts.id}}_{{empty}}" onclick="showeditform(this.id);">0</td>
                        {% else %}
                    <td class="editable center" width="5%" align="center" id="{{sts.id}}_{{empty}}" onclick="showeditform(this.id);">0</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for empty in 1..7 %}
                        {% if empty >= 6 %}
                    <td class="fixable weekend">0</td>
                        {% else %}
                    <td class="fixable">0</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
                    <td class="gab"></td><!-- gab line -->
                    <td class="monday_gab" style="display:none">{% if gab != null %}{{gab[sts.weight]}}{% else %}{{gab}}{% endif %}</td>
                </tr>
        {% set i = i + 1 %}
        {% endfor %}
            </table>#}
            <input type="text" id="tmp" value="0" style="display:none" />
            <input type="text" id="tmp2" value="0" style="display:none" />
        </div>
    </div>
{% endblock %}