{% extends 'AlbatrossUserBundle:Default:layout_big.html.twig' %}
{% block title %}
Operation Table
{% endblock %}
{% block stylesheets %}
<link href="{{ asset('/css/custom_project_show.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('/css/projectStatus.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('/css/chosen_v1.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('/css/calendar.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery-ui.js')}}"></script>
<script src="{{ asset('js/project-status.js')}}"></script>
<script src="{{ asset('js/chosen.jquery.min.js')}}"></script>
<script src="{{ asset('js/chosen.proto.min.js')}}"></script>
<script type="text/javascript">    
    $(document).ready(function() {
        {% if type == 'ace' %}
            $('#search-form-type').val('ace');
            $('#aceproject-search-form-box').attr('class', 'onstyle-ace');
            $('#aceproject-cover-box').css('display', 'none');
            $('#aceproject-search-form-box').css('width', '80%');
            $('#search-box').css('height', '418px');
            $('#aceproject-search-form').show();
            $('#questionnaire-search-form').hide();
            $('#questionnaire-search-form-box').css('width','20%');
            $('#questionnaire-cover-box').show();
            $('#questionnaire-search-form-box').attr('class', 'offstyle-aol');
            $('#search-form-type').val('ace');

            acceptAceSelectForm();
            acceptacenumberSelectForm();
            acceptBrandAceSelectForm();
            acceptPmSelectForm();
            acceptbuaceSelectForm();
            acceptcountryaceSelectForm();
        {% elseif type == 'aol' %}
            acceptQuestionnaireSelectForm();
        {% endif %}
            
            $('#refresh-operation-button').click(function(){
                $('#cover-box').show();
                saveOperationDataFunction('0', '0');
            });
            $('#refresh-operation-button2').click(function(){
                $('#cover-box').show();
                saveOperationDataFunctionAce('0', '0');
            });
    });
    function saveOperationDataFunction(offset, total){
        var data = '{"offset":"'+offset+'", "total":"'+total+'"}';
        $.ajax({
            type: "POST",
            data: data,
            url: "{{ path('saveOperationData') }}",
            success: function(result) {
                var obj = JSON.parse(result);
                if(obj.offset !== 'finish'){
                    var wid = (((obj.offset)/(obj.total))*800)+'px';
                    $('#loading-bar').animate({width:wid});
                    saveOperationDataFunction(obj.offset, obj.total);
                }else{
                    location.reload();
                }
            }
        });
    }
    function saveOperationDataFunctionAce(offset, total){
        var data = '{"offset":"'+offset+'", "total":"'+total+'"}';
        $.ajax({
            type: "POST",
            data: data,
            url: "{{ path('saveOperationDataAce') }}",
            success: function(result) {
                var obj = JSON.parse(result);
                if(obj.offset !== 'finish'){
                    var wid = (((obj.offset)/(obj.total))*800)+'px';
                    $('#loading-bar').animate({width:wid});
                    saveOperationDataFunctionAce(obj.offset, obj.total);
                }else{
                    location.reload();
                }
            }
        });
    }
    function surveyChange(e){
        var index = $(e).val();
        $.ajax({
            data: index,
            type: "POST",
            url: "{{ path('getCampaignArr') }}",
            success: function(result) {
                $(e).parent().next().html(result);
                var id = $(e).attr('id');
                $(e).parent().next().children().attr('id', 'campaign_'+id);
            }
        });
    }
    function addNewSurvey(){
        var formStr = '<tr><td class="survey">{{ aolform|replace({"'": "\\'"})|raw }}</td><td class="campaign"></td><td><button type="button" onclick="deleteSurvey(this);" class="button">Delete</button></td></tr>';
        $('#questionnaire-select-table').append(formStr);
        var preId = $('td[class=survey]:last').children('select').attr('id');
        var newIndex = $('#questionnaire-select-table').find('.survey').length;
        var newId = preId.substring(0, 16) + newIndex;
        $('td[class=survey] select:last').attr('id', newId);
        $('.campaign').last().html('<select class="campaignSelection"><option></option></select>');
        $('.surveySelection').chosen({width: "100%"});
    }
    function getBuResult(id, e){
        var data = '{"id":"'+id+'"';
        {% if buArr != '' %}
            {% for k,bu in buArr %}
                data = data + ',"{{k}}":"{{bu}}"';
            {% endfor %}
        {% else %}
            data = data + ',"bu":"empty"';
        {% endif %}
            data = data + '}';
        if($(e).parent().next().attr('class') === 'bu-result-tr'){
            $(e).parent().nextAll().each(function(){
                if($(this).attr('class') === 'bu-result-tr' || $(this).attr('class') === 'c-result-tr'){
                    $(this).remove();
                }else{
                    return false;
                }
            });
        }else{
            $.ajax({
                data: data,
                type: "POST",
                url: "{{ path('getBuResult') }}",
                success: function(result) {
                    $(e).parent().after(result);
                }
            });
        }
    }
    function getAceBuResult(id, e){
        var data = '{"id":"'+id+'"';
        {% if buArr != '' %}
            {% for k,bu in buArr %}
                data = data + ',"{{k}}":"{{bu}}"';
            {% endfor %}
        {% else %}
            data = data + ',"bu":"empty"';
        {% endif %}
            data = data + '}';
        if($(e).parent().next().attr('class') === 'bu-result-tr'){
            $(e).parent().nextAll().each(function(){
                if($(this).attr('class') === 'bu-result-tr'){
                    $(this).remove();
                }else{
                    return false;
                }
            });
        }else{
            $.ajax({
                data: data,
                type: "POST",
                url: "{{ path('getAceBuResult') }}",
                success: function(result) {
                    $(e).parent().after(result);
                }
            });
        }
    }
    function getCountryResult(id, e, buid){
        var data = '{"cid":"'+ id + '", "bid":"' + buid + '"}';
        if($(e).parent().parent().parent().parent().parent().next().attr('class') === 'c-result-tr'){
            $(e).parent().parent().parent().parent().parent().nextAll().each(function(){
                if($(this).attr('class') === 'c-result-tr'){
                    $(this).remove();
                }else{
                    return false;
                }
            });
        }else{
            $.ajax({
                data: data,
                type: "POST",
                url: "{{ path('getCountryResult') }}",
                success: function(result) {
                    $(e).parent().parent().parent().parent().parent().after(result);
                }
            });
        }
    }
    function getAceCountryResult(id, e, buid){
        var data = '{"pid":"'+ id + '", "bid":"' + buid + '"}';
        if($(e).parent().parent().parent().parent().parent().next().attr('class') === 'c-result-tr'){
            $(e).parent().parent().parent().parent().parent().nextAll().each(function(){
                if($(this).attr('class') === 'c-result-tr'){
                    $(this).remove();
                }else{
                    return false;
                }
            });
        }else{
            $.ajax({
                data: data,
                type: "POST",
                url: "{{ path('getAceCountryResult') }}",
                success: function(result) {
                    $(e).parent().parent().parent().parent().parent().after(result);
                }
            });
        }
    }
    function sortBy(e){
        var id = $(e).attr('id');
        var inp = '{{sortKey}}';
        var value = id + 'and' + inp;
        $('#albatross_custombundle_projectstatusaoltype_sort').val(value);
        $('#questionnaire-search-form').submit();
    }
</script>
{% endblock %}
{% block content -%}
<div id="cover-box">
    <div id="bar-box">
        <div id="loading-bar"></div>
    </div>
</div>
<div id ="search-box">
<div id="questionnaire-search-form-box" onclick="showFormAol();" class="onstyle-aol">
    <div id="questionnaire-cover-box">QUESTIONNAIRE<br/>SEARCH FORM<br/><font style="font-style: italic; font-size: 18px;">(Open Click)</font></div>
<form id="questionnaire-search-form" action="{{ path('projectStatus', {'type':'questionnaire'}) }}" method="GET">
    <table id="aceproject-search-table">
        <tr>
            <td><input type="button" value="Refresh Data(Questionnaire)" id="refresh-operation-button"/></td>
            <td>Last Refresh Time: {{formatOpQuestTime}}</td>
            <td class="empty-td"></td>
        </tr>
        <!--questionnaire campain-->
        <tr>
            <td class="search-title">Questionnaire/Campaign:
                <!--display none part-->
                <div id="questionnaire-select-table-box" class="select-box">
                    <table id="questionnaire-select-table">
                        <tr>
                            <td class="survey">{{ aolform|raw }}</td>
                            <td class="campaign"><select class="campaignSelection"><option></option></select></td>
                            <td><button type="button" onclick="deleteSurvey(this);" class="button">Delete</button></td>
                            <td><button type="button" onclick="addNewSurvey();" class="button">Add</button></td>
                        </tr>
                    </table>
                        <button type="button" onclick="acceptQuestionnaireSelectForm();" class="button-action" style="margin-left: 3px; background: #E77E23;">ACCEPT</button>
                        <button type="button" onclick="closeQuestionnaireSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-questionnaire" class="selected-style">
            </td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showQuestionnaireSelect();" class="button"></td>
        </tr>
        <!--brand-->
        <tr>
            <td class="search-title">Brand:
                <!--display none part-->
                <div id="brand-select-table-box" class="select-box">
                    {{ form_widget(aolForm.brand) }}
                    <button type="button" onclick="acceptBrandSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closeBrandSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-brand" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showBrandSelect();" class="button"></td>
        </tr>
        <!--bu-->
        <tr>
            <td class="search-title">Bu:
                <!--display none part-->
                <div id="bu-select-table-box" class="select-box">
                    {{ form_widget(aolForm.bu) }}
                    <button type="button" onclick="acceptbuSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closebuSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-bu" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showBuSelect();" class="button"></td>
        </tr>
        <!--country-->
        <tr>
            <td class="search-title">Country:
                <!--display none part-->
                <div id="country-select-table-box" class="select-box">
                    {{ form_widget(aolForm.country) }}
                    <button type="button" onclick="acceptcountrySelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closecountrySelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-country" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showCountrySelect();" class="button"></td>
        </tr>
        <tr>
            <td class="search-title">Keyword:</td>
            <td class="selected-style">
                {{ form_widget(aolForm.questionnairename, {attr: {'style' : 'width: 300px'}}) }}
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--fw start-->
        <tr>
            <td class="search-title">FW start date:</td>
            <td class="selected-style">
                {{ form_widget(aolForm.fw_s_f) }} to &nbsp;
                {{ form_widget(aolForm.fw_s_t) }}
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--fw end-->
        <tr>
            <td class="search-title">FW end date date:</td>
            <td class="selected-style">
                {{ form_widget(aolForm.fw_e_f) }} to &nbsp;
                {{ form_widget(aolForm.fw_e_t) }}
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--report due-->
        <tr>
            <td class="search-title">Report delivery date:</td>
            <td class="selected-style">
                {{ form_widget(aolForm.due_f) }} to &nbsp;
                {{ form_widget(aolForm.due_t) }}
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--assigned-->
        <tr>
            <td class="search-title">% assigned:</td>
            <td class="selected-style">
                {{ form_widget(aolForm.assign_f) }}% ~
                {{ form_widget(aolForm.assign_t) }}%
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--FW done-->
        <tr>
            <td class="search-title">% FW done:</td>
            <td class="selected-style">
                {{ form_widget(aolForm.fw_done_f) }}% ~
                {{ form_widget(aolForm.fw_done_t) }}%
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--editing done-->
        <tr>
            <td class="search-title">% editing done:</td>
            <td class="selected-style">
                {{ form_widget(aolForm.editing_done_f) }}% ~
                {{ form_widget(aolForm.editing_done_t) }}%
            </td>
            <td class="empty-td"></td>
        </tr>
        <tr>
            <th colspan="2" style="color:#fff; font-size: 28px; font-style: italic;">
            QUESTIONNAIRE SEARCH
            </th>
            <td>
                <input type="submit" class="submit-button" value="SEARCH" />
            </td>
        </tr>
    </table>
        {{ form_widget(aolForm.sort, {attr: {'style': 'display:none'}}) }}
</form>
</div>
<div id="aceproject-search-form-box" onclick="showFormAce();" class="offstyle-ace">
    <div id="aceproject-cover-box">ACE PROJECT<br/>SEARCH FORM<br/><font style="font-style: italic; font-size: 18px;">(Open Click)</font></div>
<form id="aceproject-search-form" action="{{ path('projectStatus', {'type':'ace'}) }}" method="GET" style="display:none;">
    <table id="aceproject-search-table">
        <tr>
            <td><input type="button" value="Refresh Data(ACE)" id="refresh-operation-button2"/></td>
            <td>Last Refresh Time: {{formatOpQuestTime}}</td>
            <td class="empty-td"></td>
        </tr>
        <!--ace name-->
        <tr>
            <td class="search-title">Ace Name:
                <!--display none part-->
                <div id="acename-select-table-box" class="select-box">
                    {{ form_widget(aceForm.ace) }}
                    <button type="button" onclick="acceptAceSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closeAceSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-acename" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showacenameSelect();" class="button"></td>
        </tr>
        <!--ace number-->
        <tr>
            <td class="search-title">Ace Number:
                <!--display none part-->
                <div id="acenumber-select-table-box" class="select-box">
                    {{ form_widget(aceForm.acenumber) }}
                    <button type="button" onclick="acceptacenumberSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closeacenumberSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-acenumber" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showacenumberSelect();" class="button"></td>
        </tr>
        <!--brand ace-->
        <tr>
            <td class="search-title">Brand:
                <!--display none part-->
                <div id="brandace-select-table-box" class="select-box">
                    {{ form_widget(aceForm.brand) }}
                    <button type="button" onclick="acceptBrandAceSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closeBrandAceSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-brandace" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showBrandAceSelect();" class="button"></td>
        </tr>
        <!--pm-->
        <tr>
            <td class="search-title">PM:
                <!--display none part-->
                <div id="pm-select-table-box" class="select-box">
                    {{ form_widget(aceForm.pm) }}
                    <button type="button" onclick="acceptPmSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closePmSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-pm" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showPmSelect();" class="button"></td>
        </tr>
        <!--bu-->
        <tr>
            <td class="search-title">Bu:
                <!--display none part-->
                <div id="buace-select-table-box" class="select-box">
                    {{ form_widget(aceForm.bu) }}
                    <button type="button" onclick="acceptbuaceSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closebuaceSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-buace" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showBuaceSelect();" class="button"></td>
        </tr>
        <!--country-->
        <tr>
            <td class="search-title">Country:
                <!--display none part-->
                <div id="countryace-select-table-box" class="select-box">
                    {{ form_widget(aceForm.country) }}
                    <button type="button" onclick="acceptcountryaceSelectForm();" class="button-action" style="margin-left: 3px; margin-top: 5px; background: #E77E23;">ACCEPT</button>
                    <button type="button" onclick="closecountryaceSelectForm();" class="button-action" style="background: #3598DC;">CLOSE</button>
                </div>
                <!--end-->
            </td>
            <td id="selected-countryace" class="selected-style"></td>
            <td class="button-td"><input type="button" value="SELECT" onclick="showCountryaceSelect();" class="button"></td>
        </tr>
        <!--fw start-->
        <tr>
            <td class="search-title">FW start date:</td>
            <td class="selected-style">
                {{ form_widget(aceForm.fw_s_f) }} to &nbsp;
                {{ form_widget(aceForm.fw_s_t) }}
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--fw end-->
        <tr>
            <td class="search-title">FW end date date:</td>
            <td class="selected-style">
                {{ form_widget(aceForm.fw_e_f) }} to &nbsp;
                {{ form_widget(aceForm.fw_e_t) }}
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--report due-->
        <tr>
            <td class="search-title">Report delivery date:</td>
            <td class="selected-style">
                {{ form_widget(aceForm.due_f) }} to &nbsp;
                {{ form_widget(aceForm.due_t) }}
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--assigned-->
        <tr>
            <td class="search-title">% assigned:</td>
            <td class="selected-style">
                {{ form_widget(aceForm.assign_f) }}% ~
                {{ form_widget(aceForm.assign_t) }}%
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--FW done-->
        <tr>
            <td class="search-title">% FW done:</td>
            <td class="selected-style">
                {{ form_widget(aceForm.fw_done_f) }}% ~
                {{ form_widget(aceForm.fw_done_t) }}%
            </td>
            <td class="empty-td"></td>
        </tr>
        <!--editing done-->
        <tr>
            <td class="search-title">% editing done:</td>
            <td class="selected-style">
                {{ form_widget(aceForm.editing_done_f) }}% ~
                {{ form_widget(aceForm.editing_done_t) }}%
            </td>
            <td class="empty-td"></td>
        </tr>
        <tr>
            <th colspan="2" style="color:#fff; font-size: 28px; font-style: italic;">
            ACE PROJECT SEARCH
            </th>
            <td>
                <input type="submit" class="submit-button" value="SEARCH" />
            </td>
        </tr>
    </table>
</form>
</div>
<input style="display:none;" id="search-form-type" value="aol">
</div>
{% if result != null %}
<div id="result-box">
        <table class="result-table">
            {% if type != 'questionnaire' %}
            <tr id="status-ace-title">
            {% else %}
            <tr id="status-q-title">
            {% endif %}
                <th id="title-name">
                    <span id="questionnairename" onclick="sortBy(this);">{% if type == 'questionnaire' %}by questionnaire{% else %}by project{% endif %}</span>
                </th>
                <th class="result-date">
                    <span id="fwsdate" onclick="sortBy(this);">FW start</span>
                </th>
                <th class="result-date">
                    <span id="fwedate" onclick="sortBy(this);">FW end</span>
                </th>
                <th class="result-num">
                    <span id="num" onclick="sortBy(this);">No surveys<br/>AOL</span>
                </th>
                <th class="result-num">
                    <span id="assigned" onclick="sortBy(this);">% assigned</span>
                </th>
                <th class="result-num">
                    <span id="done" onclick="sortBy(this);">% FW done</span>
                </th>
                <th class="result-num">
                    <span id="validationPercent" onclick="sortBy(this);">% editing done</span>
                </th>
                <th class="result-date">
                    <span id="firstDate" onclick="sortBy(this);">First visit<br/>actual date</span>
                </th>
                <th class="result-date">
                    <span id="scope" onclick="sortBy(this);">Last visit<br/>actual date</span>
                </th>
                <th class="result-date">
                    <span id="reportdate" onclick="sortBy(this);">Report<br/>delivery</span>
                </th>
            </tr>
    {% for id,r in result %}
            <tr class="questionnaire-result">
                {% if type == 'questionnaire' %}
                <td class="result-name" onclick="getBuResult('{{id}}', this);">
                        {{r['questionnairename']}}<br/>
                        <font class="italic-style">{{ r['campaignname'] }}</font>
                </td>
                {% else %}
                <td class="result-name" onclick="getAceBuResult('{{id}}', this);">
                    {{r['aceprojectname']}}
                </td>
                {% endif %}
            {% if type == 'questionnaire' %}
                <td class="result-date result-name" onclick="getBuResult('{{id}}', this);">{{ r['fwsdate'] }}</td>
                <td class="result-date result-name" onclick="getBuResult('{{id}}', this);">{{ r['fwedate'] }}</td>
                <td class="result-num">{{ r['num'] }}</td>
                <td class="result-num">{{ r['assigned'] }}% ({{ r['assignnum'] }})</td>
                <td class="result-num">{{ r['done'] }}% ({{ r['fwdonenum'] }})</td>
                <td class="result-num">{{ r['validationPercent'] }}% ({{ r['edit'] }})</td>
                <td class="result-date">{{ r['firstDate'] }}</td>
                <td class="result-date">{{ r['lastDate'] }}</td>
                <td class="result-date result-name" onclick="getBuResult('{{id}}', this);">{{ r['reportdate'] }}</td>
            {% else %}
                <td class="result-date result-name" onclick="getAceBuResult('{{id}}', this);">{{ r['fwsdate'] }}</td>
                <td class="result-date result-name" onclick="getAceBuResult('{{id}}', this);">{{ r['fwedate'] }}</td>
                <td class="result-num">{{ r['num'] }}</td>
                <td class="result-num">{{ r['assigned'] }}% ({{ r['assignnum'] }})</td>
                <td class="result-num">{{ r['done'] }}% ({{ r['fwdonenum'] }})</td>
                <td class="result-num">{{ r['validationPercent'] }}% ({{ r['edit'] }})</td>
                <td class="result-date">{{ r['firstDate'] }}</td>
                <td class="result-date">{{ r['lastDate'] }}</td>
                <td class="result-date result-name" onclick="getAceBuResult('{{id}}', this);">{{ r['reportdate'] }}</td>
            {% endif %}
            </tr>
    {% endfor %}
        </table>
</div>
<div id="count-box">
    <table id="count-table">
        <tr>
            <th id="total-title"></th>
            <td id="total"></td>
        </tr>
        <tr>
            <th id="aol-title"></th>
            <td id="aol"></td>
        </tr>
    </table>
</div>
{% endif %}
{% endblock %}