{% extends 'AlbatrossUserBundle:Default:layout_v2.html.twig' %}
{% block title %}
Operation Table
{% endblock %}
{% block stylesheet %}
<link href="{{ asset('/css/custom_project_show.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('/css/projectStatus.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('/css/calendar.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery-ui.js')}}"></script>
<script src="{{ asset('js/project-status.js')}}"></script>
<script type="text/javascript">    
    $(document).ready(function() {
        $('.result-name').toggle(
            function(){
                var e = $(this);
                var url = '';
                e.css('cursor', 'wait');
                if(e.attr('id').split('_')[0] === 'questionnairename'){
                    var url = "{{ path('getBuResult') }}";
                }else if(e.attr('id').split('_')[0] === 'acename'){
                    var url = "{{ path('getAceBuResult') }}";
                }
                var data = '{"id":"'+e.attr('id').split('_')[1]+'"';
                {% if buArr != '' %}{% for k,bu in buArr %}data = data + ',"{{k}}":"{{bu}}"';{% endfor %}
                {% else %}data = data + ',"bu":"empty"';
                {% endif %}
                data = data + '}';
                $.ajax({
                    data: data,
                    type: "POST",
                    url: url,
                    success: function(result) {
                        e.children().find('i').attr('class', 'icon-minus-sign');
                        e.parent().after(result);
                        e.css('cursor', 'pointer');
                        toggleBu(e);
                        
                    }
                });
            },
            function(){
                var e = $(this);
                e.children().find('i').attr('class', 'icon-plus-sign');
                e.css('cursor', 'pointer');
                e.parent().nextAll().each(function(){
                    if($(this).attr('class') === 'bu-result-tr' || $(this).attr('class') === 'c-result-tr'){
                        $(this).remove();
                    } else {
                        return false;
                    }
                });
            }
        );
        {#{% if type == 'ace' %}
            $('#search-form-type').val('ace');
            $('#aceproject-search-form-box').attr('class', 'onstyle-ace');
            $('#aceproject-cover-box').css('display', 'none');
            $('#aceproject-search-form-box').css('width', '80%');
            $('#search-box').css('height', '418px');
            $('#aceproject-search-form').show();
            $('#questionnaire-search-form').hide();
            $('#questionnaire-search-form-box').css('width','20%');
            $('#questionnaire-cover-box').show();
            $('#questionnaire-search-form-box').attr('class', 'offstyle-aol');
            $('#search-form-type').val('ace');

            acceptAceSelectForm();
            acceptacenumberSelectForm();
            acceptBrandAceSelectForm();
            acceptPmSelectForm();
            acceptbuaceSelectForm();
            acceptcountryaceSelectForm();
        {% elseif type == 'aol' %}
            acceptQuestionnaireSelectForm();
        {% endif %}#}
            
        $('#refresh-operation-button').click(function(){
            $('#cover-box').show();
            saveOperationDataFunction('0', '0');
        });
        $('#refresh-operation-button2').click(function(){
            $('#cover-box').show();
            saveOperationDataFunctionAce('0', '0');
        });
    });

    function toggleBu(e){
        $(e).parent().nextAll('.bu-result-tr').children('.bu-name-td').toggle(
            function(){
                var e = $(this);
                e.css('cursor', 'wait');
                var url = '';
                var data = '';
                if(e.attr('id').split('_')[0] === 'questionnairebuname'){
                    data = '{"cid":"'+ e.attr('id').split('_')[1] + '", "bid":"' + e.attr('id').split('_')[2] + '"}';
                    url = "{{ path('getCountryResult') }}";
                } else if (e.attr('id').split('_')[0] === 'acebuname') {
                    data = '{"pid":"'+ e.attr('id').split('_')[1] + '", "bid":"' + e.attr('id').split('_')[2] + '"}';
                    url = "{{ path('getAceCountryResult') }}";
                }
                $.ajax({
                    data: data,
                    type: "POST",
                    url: url,
                    success: function(result) {
                        $(e).parent().after(result);
                        e.css('cursor', 'pointer');
                        e.children().find('i').attr('class', 'icon-minus-sign');
                    }
                });
            },
            function(){
                var e = $(this);
                e.children().find('i').attr('class', 'icon-plus-sign');
                e.css('cursor', 'pointer');
                $(e).parent().nextAll().each(function(){
                    if($(this).attr('class') === 'c-result-tr'){
                        $(this).remove();
                    }else{
                        return false;
                    }
                });
            }
        );
    }
    function saveOperationDataFunction(offset, total){
        var data = '{"offset":"'+offset+'", "total":"'+total+'"}';
        $.ajax({
            type: "POST",
            data: data,
            url: "{{ path('saveOperationData') }}",
            success: function(result) {
                var obj = JSON.parse(result);
                if(obj.offset !== 'finish'){
                    var wid = (((obj.offset)/(obj.total))*800)+'px';
                    $('#loading-bar').animate({width:wid});
                    saveOperationDataFunction(obj.offset, obj.total);
                }else{
                    location.reload();
                }
            }
        });
    }
    function saveOperationDataFunctionAce(offset, total){
        var data = '{"offset":"'+offset+'", "total":"'+total+'"}';
        $.ajax({
            type: "POST",
            data: data,
            url: "{{ path('saveOperationDataAce') }}",
            success: function(result) {
                var obj = JSON.parse(result);
                if(obj.offset !== 'finish'){
                    var wid = (((obj.offset)/(obj.total))*800)+'px';
                    $('#loading-bar').animate({width:wid});
                    saveOperationDataFunctionAce(obj.offset, obj.total);
                }else{
                    location.reload();
                }
            }
        });
    }
    function surveyChange(e){
        var index = $(e).val();
        $.ajax({
            data: index,
            type: "POST",
            url: "{{ path('getCampaignArr') }}",
            success: function(result) {
                $(e).parent().next().html(result);
                var id = $(e).attr('id');
                $(e).parent().next().children().attr('id', 'campaign_'+id);
                $('.campaignSelection').chosen();
            }
        });
    }
    function addNewSurvey(){
        var formStr = '<tr><td class="survey">{{ aolform|replace({"'": "\\'"})|raw }}</td><td class="campaign"></td><td><i type="button" onclick="deleteSurvey(this);" class="icon-remove-sign" style="cursor: pointer;"></i></td><td></td></tr>';
        $('#questionnaire-select-table').append(formStr);
        var preId = $('td[class=survey]:last').children('select').attr('id');
        var newIndex = $('#questionnaire-select-table').find('.survey').length;
        var newId = preId.substring(0, 16) + newIndex;
        $('td[class=survey] select:last').attr('id', newId);
        $('.campaign').last().html('<select class="campaignSelection" data-placeholder="Select Campaign"><option></option></select>');
        $('.surveySelection').chosen();
        $('.campaignSelection').chosen();
    }
</script>
{% endblock %}
{% block body -%}
<div class="row-fluid">
    <div class="span-12">
        <div class="tab-widget">
            <ul class="nav nav-tabs" id="myTab1">
                <li class="{%if type == ''%} active{% endif %}">
                    <a href="#refresh">Refresh</a>
                </li>
                <li class="{%if type == 'questionnaire'%} active{% endif %}">
                    <a href="#aol">AOL Questionnaire</a>
                </li>
                <li class="{%if type == 'ace'%} active{% endif %}">
                    <a href="#ace">ACE Project</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="refresh" class="tab-pane{%if type == ''%} active{% endif %}">
                    <table>
                        <tr>
                            <td><input type="button" class="btn btn-success" value="Refresh Data(Questionnaire)" id="refresh-operation-button"/></td>
                            <td>Questionnaire Last Refresh Time: {{formatOpQuestTime}}</td>
                            <td class="empty-td"></td>
                        </tr>
                        <tr>
                            <td><input type="button" class="btn btn-info" value="Refresh Data(ACE)" id="refresh-operation-button2"/></td>
                            <td>ACE Last Refresh Time: {{formatOpAceTime}}</td>
                            <td class="empty-td"></td>
                        </tr>
                    </table>
                </div>
                <div id="aol" class="tab-pane{%if type == 'questionnaire'%} active{% endif %}">
                    <form id="questionnaire-search-form" action="{{ path('albatross_operation_homepage', {'type':'questionnaire'}) }}" method="GET">
                        <table id="aolproject-search-table" class="table table-hover responsive">
                            <tr>
                                <th colspan="2" style="font-family: 'Dosis',sans-serif; font-size: 24px;">
                                    Questionnaire Search
                                </th>
                                <td>
                                    <input type="submit" class="btn btn-success" value="SEARCH" />
                                    <button id="reset-btn-aol" class="btn" type="reset">Clear</button>
                                    <a id="advLink2-aol" href="javascript:;">
                                        <i class="icon-plus-sign"></i>
                                        Advance Options
                                    </a>
                                </td>
                            </tr>
                            <!--questionnaire campain-->
                            <tr>
                                <td class="search-title">
                                    <input type="button" value="Questionnaire/Campaign" onclick="showQuestionnaireSelect();" class="btn">
                                </td>
                                <td id="selected-questionnaire" class="selected-style">
                                </td>
                                <td>
                                    <!--display none part-->
                                    <div id="questionnaire-select-table-box" class="select-box">
                                        <table id="questionnaire-select-table">
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptQuestionnaireSelectForm();" class="icon-chevron-left" style="cursor: pointer;"> ACCEPT</i>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <i type="button" onclick="closeQuestionnaireSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="survey">{{ aolform|raw }}</td>
                                                <td class="campaign"><select class="campaignSelection" data-placeholder="Select Campaign"><option></option></select></td>
                                                <td><i type="button" onclick="deleteSurvey(this);" class="icon-remove-sign" style="cursor: pointer;"></i></td>
                                                <td><i type="button" onclick="addNewSurvey();" class=" icon-plus-sign" style="cursor: pointer;"></i></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--end-->
                                </td>
                            </tr>
                            <!--brand-->
                            <tr class="aol-add-search">
                                <td class="search-title">
                                    <input type="button" value="Brand" onclick="showBrandSelect();" class="btn">
                                </td>
                                <td id="selected-brand" class="selected-style"></td>
                                <td>
                                    <!--display none part-->
                                    <div id="brand-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptBrandSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closeBrandSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aolForm.brand) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--end-->
                                </td>
                            </tr>
                            <!--bu-->
                            <tr class="aol-add-search">
                                <td class="search-title"><input type="button" value="BU" onclick="showBuSelect();" class="btn">
                                </td>
                                <td id="selected-bu" class="selected-style"></td>
                                <td>
                                    <!--display none part-->
                                    <div id="bu-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td><i type="button" onclick="acceptbuSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td><i type="button" onclick="closebuSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aolForm.bu) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--end-->
                                </td>
                            </tr>
                            <!--country-->
                            <tr class="aol-add-search">
                                <td class="search-title">
                                    <input type="button" value="Country" onclick="showCountrySelect();" class="btn">
                                </td>
                                <td id="selected-country" class="selected-style"></td>
                                <td>
                                    <!--display none part-->
                                    <div id="country-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptcountrySelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closecountrySelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aolForm.country) }}
                                                </td>
                                            </tr>
                                        </table>
                                     </div>
                                    <!--end-->
                                </td>
                            </tr>
                            <tr class="aol-add-search">
                                <td class="search-title">Keyword:</td>
                                <td class="selected-style">
                                    {{ form_widget(aolForm.questionnairename, {attr: {'style' : 'width: 300px'}}) }}
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--fw start-->
                            <tr class="aol-add-search">
                                <td class="search-title">FW start date:</td>
                                <td class="selected-style">
                                    {{ form_widget(aolForm.fw_s_f) }} to &nbsp;
                                    {{ form_widget(aolForm.fw_s_t) }}
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--fw end-->
                            <tr class="aol-add-search">
                                <td class="search-title">FW end date date:</td>
                                <td class="selected-style">
                                    {{ form_widget(aolForm.fw_e_f) }} to &nbsp;
                                    {{ form_widget(aolForm.fw_e_t) }}
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--report due-->
                            <tr class="aol-add-search">
                                <td class="search-title">Report delivery date:</td>
                                <td class="selected-style">
                                    {{ form_widget(aolForm.due_f) }} to &nbsp;
                                    {{ form_widget(aolForm.due_t) }}
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--assigned-->
                            <tr class="aol-add-search">
                                <td class="search-title">% assigned:</td>
                                <td class="selected-style">
                                    {{ form_widget(aolForm.assign_f) }}% ~
                                    {{ form_widget(aolForm.assign_t) }}%
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--FW done-->
                            <tr class="aol-add-search">
                                <td class="search-title">% FW done:</td>
                                <td class="selected-style">
                                    {{ form_widget(aolForm.fw_done_f) }}% ~
                                    {{ form_widget(aolForm.fw_done_t) }}%
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--editing done-->
                            <tr class="aol-add-search">
                                <td class="search-title">% editing done:</td>
                                <td class="selected-style">
                                    {{ form_widget(aolForm.editing_done_f) }}% ~
                                    {{ form_widget(aolForm.editing_done_t) }}%
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                        </table>
                            {{ form_widget(aolForm.sort, {attr: {'style': 'display:none'}}) }}
                    </form>
                </div>
                <div id="ace" class="tab-pane{%if type == 'ace'%} active{% endif %}">
                    <form id="aceproject-search-form" action="{{ path('albatross_operation_homepage', {'type':'ace'}) }}" method="GET">
                        <table id="aceproject-search-table" class="table table-hover responsive">
                            <tr>
                                <th colspan="2" style="font-family: 'Dosis',sans-serif; font-size: 24px;">
                                ACE Project Search
                                </th>
                                <td>
                                    <input type="submit" class="btn btn-success" value="SEARCH" />
                                    <button id="reset-btn-ace" class="btn" type="reset">Clear</button>
                                    <a id="advLink2-ace" href="javascript:;">
                                        <i class="icon-plus-sign"></i>
                                        Advance Options
                                    </a>
                                </td>
                            </tr>
                            <!--ace name-->
                            <tr>
                                <td class="search-title">
                                    <input type="button" value="ACE Name" onclick="showacenameSelect();" class="btn">
                                </td>
                                <td id="selected-acename" class="selected-style"></td>
                                <td>
                                    <!--display none part-->
                                    <div id="acename-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptAceSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closeAceSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aceForm.ace) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--end-->
                                </td>
                            </tr>
                            <!--ace number-->
                            <tr class="ace-add-search">
                                <td class="search-title">
                                    <input type="button" value="ACE Number" onclick="showacenumberSelect();" class="btn">
                                </td>
                                <td id="selected-acenumber" class="selected-style"></td>
                                <td>
                                    <!--display none part-->
                                    <div id="acenumber-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptacenumberSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closeacenumberSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aceForm.acenumber) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--end-->
                                </td>
                            </tr>
                            <!--brand ace-->
                            <tr class="ace-add-search">
                                <td class="search-title">
                                    <input type="button" value="Brand" onclick="showBrandAceSelect();" class="btn">
                                </td>
                                <td id="selected-brandace" class="selected-style"></td>
                                <td>
                                    <div id="brandace-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptBrandAceSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closeBrandAceSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aceForm.brand) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!--pm-->
                            <tr class="ace-add-search">
                                <td class="search-title">
                                    <input type="button" value="PM" onclick="showPmSelect();" class="btn">
                                </td>
                                <td id="selected-pm" class="selected-style"></td>
                                <td>
                                    <div id="pm-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptPmSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closePmSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aceForm.pm) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!--bu-->
                            <tr class="ace-add-search">
                                <td class="search-title">
                                    <input type="button" value="Bu" onclick="showBuaceSelect();" class="btn">
                                </td>
                                <td id="selected-buace" class="selected-style"></td>
                                <td>
                                    <div id="buace-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptbuaceSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closebuaceSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aceForm.bu) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!--country-->
                            <tr class="ace-add-search">
                                <td class="search-title">
                                    <input type="button" value="Country" onclick="showCountryaceSelect();" class="btn">
                                </td>
                                <td id="selected-countryace" class="selected-style"></td>
                                <td>
                                    <div id="countryace-select-table-box" class="select-box">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i type="button" onclick="acceptcountryaceSelectForm();" class="icon-chevron-left" style="cursor: pointer"> ACCEPT</i>
                                                </td>
                                                <td>
                                                    <i type="button" onclick="closecountryaceSelectForm();" class="icon-remove" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {{ form_widget(aceForm.country) }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!--fw start-->
                            <tr class="ace-add-search">
                                <td class="search-title">FW start date:</td>
                                <td class="selected-style">
                                    {{ form_widget(aceForm.fw_s_f) }} to &nbsp;
                                    {{ form_widget(aceForm.fw_s_t) }}
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--fw end-->
                            <tr class="ace-add-search">
                                <td class="search-title">FW end date date:</td>
                                <td class="selected-style">
                                    {{ form_widget(aceForm.fw_e_f) }} to &nbsp;
                                    {{ form_widget(aceForm.fw_e_t) }}
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--report due-->
                            <tr class="ace-add-search">
                                <td class="search-title">Report delivery date:</td>
                                <td class="selected-style">
                                    {{ form_widget(aceForm.due_f) }} to &nbsp;
                                    {{ form_widget(aceForm.due_t) }}
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--assigned-->
                            <tr class="ace-add-search">
                                <td class="search-title">% assigned:</td>
                                <td class="selected-style">
                                    {{ form_widget(aceForm.assign_f) }}% ~
                                    {{ form_widget(aceForm.assign_t) }}%
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--FW done-->
                            <tr class="ace-add-search">
                                <td class="search-title">% FW done:</td>
                                <td class="selected-style">
                                    {{ form_widget(aceForm.fw_done_f) }}% ~
                                    {{ form_widget(aceForm.fw_done_t) }}%
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                            <!--editing done-->
                            <tr class="ace-add-search">
                                <td class="search-title">% editing done:</td>
                                <td class="selected-style">
                                    {{ form_widget(aceForm.editing_done_f) }}% ~
                                    {{ form_widget(aceForm.editing_done_t) }}%
                                </td>
                                <td class="empty-td"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if result != null %}
<div id="result-box" class="row-fluid">
    <div class="span12">
        <table id="operation-result-table" class="result-table table table-bordered">
            <thead>
                {% if type != 'questionnaire' %}<tr id="status-ace-title">
                {% else %}<tr id="status-q-title">
                {% endif %}
                    <th id="title-name">
                        <span id="questionnairename">
                            {% if type == 'questionnaire' %}By Questionnaire
                            {% else %}By Project
                            {% endif %}
                        </span>
                    </th>
                    <th class="result-date">
                        <span id="fwsdate">FW start</span>
                    </th>
                    <th class="result-date">
                        <span id="fwedate">FW end</span>
                    </th>
                    <th class="result-num">
                        <span id="num">No surveys<br/>AOL</span>
                    </th>
                    <th class="result-num">
                        <span id="assigned">% assigned</span>
                    </th>
                    <th class="result-num">
                        <span id="done">% FW done</span>
                    </th>
                    <th class="result-num">
                        <span id="validationPercent">% editing done</span>
                    </th>
                    <th class="result-date">
                        <span id="firstDate">First visit<br/>actual date</span>
                    </th>
                    <th class="result-date">
                        <span id="scope">Last visit<br/>actual date</span>
                    </th>
                    <th class="result-date">
                        <span id="reportdate">Report<br/>delivery</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for id,r in result %}
                <tr>
                {% if type == 'questionnaire' %}
                    <th class="result-name" id="questionnairename_{{id}}">
                        <a href="javascript:;">
                            <i class="icon-plus-sign"></i>&nbsp;
                            {{r['questionnairename']}}
                        </a>
                        <br/>
                        <font class="italic-style">{{ r['campaignname'] }}</font>
                    </th>
                {% else %}
                    <th class="result-name" id="acename_{{id}}">
                        <a href="javascript:;">
                            <i class="icon-plus-sign"></i>&nbsp;
                            {{r['aceprojectname']}}
                        </a>
                    </th>
                {% endif %}
                {% if type == 'questionnaire' %}
                    <td class="result-date">{{ r['fwsdate'] }}</td>
                    <td class="result-date">{{ r['fwedate'] }}</td>
                    <td class="result-num">{{ r['num'] }}</td>
                    <td class="result-num">{{ r['assigned'] }}% ({{ r['assignnum'] }})</td>
                    <td class="result-num">{{ r['done'] }}% ({{ r['fwdonenum'] }})</td>
                    <td class="result-num">{{ r['validationPercent'] }}% ({{ r['edit'] }})</td>
                    <td class="result-date">{{ r['firstDate'] }}</td>
                    <td class="result-date">{{ r['lastDate'] }}</td>
                    <td class="result-date">{{ r['reportdate'] }}</td>
                {% else %}
                    <td class="result-date">{{ r['fwsdate'] }}</td>
                    <td class="result-date">{{ r['fwedate'] }}</td>
                    <td class="result-num">{{ r['num'] }}</td>
                    <td class="result-num">{{ r['assigned'] }}% ({{ r['assignnum'] }})</td>
                    <td class="result-num">{{ r['done'] }}% ({{ r['fwdonenum'] }})</td>
                    <td class="result-num">{{ r['validationPercent'] }}% ({{ r['edit'] }})</td>
                    <td class="result-date">{{ r['firstDate'] }}</td>
                    <td class="result-date">{{ r['lastDate'] }}</td>
                    <td class="result-date">{{ r['reportdate'] }}</td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{#
{% if result != null %}
<div id="result-box">
        <table class="result-table">
            {% if type != 'questionnaire' %}
            <tr id="status-ace-title">
            {% else %}
            <tr id="status-q-title">
            {% endif %}
                <th id="title-name">
                    <span id="questionnairename" onclick="sortBy(this);">{% if type == 'questionnaire' %}by questionnaire{% else %}by project{% endif %}</span>
                </th>
                <th class="result-date">
                    <span id="fwsdate" onclick="sortBy(this);">FW start</span>
                </th>
                <th class="result-date">
                    <span id="fwedate" onclick="sortBy(this);">FW end</span>
                </th>
                <th class="result-num">
                    <span id="num" onclick="sortBy(this);">No surveys<br/>AOL</span>
                </th>
                <th class="result-num">
                    <span id="assigned" onclick="sortBy(this);">% assigned</span>
                </th>
                <th class="result-num">
                    <span id="done" onclick="sortBy(this);">% FW done</span>
                </th>
                <th class="result-num">
                    <span id="validationPercent" onclick="sortBy(this);">% editing done</span>
                </th>
                <th class="result-date">
                    <span id="firstDate" onclick="sortBy(this);">First visit<br/>actual date</span>
                </th>
                <th class="result-date">
                    <span id="scope" onclick="sortBy(this);">Last visit<br/>actual date</span>
                </th>
                <th class="result-date">
                    <span id="reportdate" onclick="sortBy(this);">Report<br/>delivery</span>
                </th>
            </tr>
    {% for id,r in result %}
            <tr class="questionnaire-result">
                {% if type == 'questionnaire' %}
                <td class="result-name" onclick="getBuResult('{{id}}', this);">
                        {{r['questionnairename']}}<br/>
                        <font class="italic-style">{{ r['campaignname'] }}</font>
                </td>
                {% else %}
                <td class="result-name" onclick="getAceBuResult('{{id}}', this);">
                    {{r['aceprojectname']}}
                </td>
                {% endif %}
            {% if type == 'questionnaire' %}
                <td class="result-date result-name" onclick="getBuResult('{{id}}', this);">{{ r['fwsdate'] }}</td>
                <td class="result-date result-name" onclick="getBuResult('{{id}}', this);">{{ r['fwedate'] }}</td>
                <td class="result-num">{{ r['num'] }}</td>
                <td class="result-num">{{ r['assigned'] }}% ({{ r['assignnum'] }})</td>
                <td class="result-num">{{ r['done'] }}% ({{ r['fwdonenum'] }})</td>
                <td class="result-num">{{ r['validationPercent'] }}% ({{ r['edit'] }})</td>
                <td class="result-date">{{ r['firstDate'] }}</td>
                <td class="result-date">{{ r['lastDate'] }}</td>
                <td class="result-date result-name" onclick="getBuResult('{{id}}', this);">{{ r['reportdate'] }}</td>
            {% else %}
                <td class="result-date result-name" onclick="getAceBuResult('{{id}}', this);">{{ r['fwsdate'] }}</td>
                <td class="result-date result-name" onclick="getAceBuResult('{{id}}', this);">{{ r['fwedate'] }}</td>
                <td class="result-num">{{ r['num'] }}</td>
                <td class="result-num">{{ r['assigned'] }}% ({{ r['assignnum'] }})</td>
                <td class="result-num">{{ r['done'] }}% ({{ r['fwdonenum'] }})</td>
                <td class="result-num">{{ r['validationPercent'] }}% ({{ r['edit'] }})</td>
                <td class="result-date">{{ r['firstDate'] }}</td>
                <td class="result-date">{{ r['lastDate'] }}</td>
                <td class="result-date result-name" onclick="getAceBuResult('{{id}}', this);">{{ r['reportdate'] }}</td>
            {% endif %}
            </tr>
    {% endfor %}
        </table>
</div>
<div id="count-box">
    <table id="count-table">
        <tr>
            <th id="total-title"></th>
            <td id="total"></td>
        </tr>
        <tr>
            <th id="aol-title"></th>
            <td id="aol"></td>
        </tr>
    </table>
</div>
{% endif %}#}
{% endblock %}